spring:
  profiles:
    active: dev
  config:
    import: optional:classpath:application-secret.yaml
  servlet:
    multipart:
      max-file-size: 5MB
      enabled: true
  security:
    filter:
      order: -100
    jwt:
      expire: 7

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
