### jetbrains-settings ###
.idea

### mhfl-algo ###
mhfl-algo/mhfl-algo.iml

### mhfl-server ###
mhfl-server/target
mhfl-server/docker-data
mhfl-server/src/main/resources/application-secret.yaml

### mhfl-ui ###
mhfl-ui/mhfl-ui.iml
mhfl-ui/.vscode
mhfl-ui/node_modules
