# Environment variable template

# The following two parameters must be configured:
OPENAI_API_KEY=sk-your-openai-api-key-here
OPENAI_API_BASE=https://api.openai.com/v1

# Other parameter configurations can be set according to your own needs.
# You can refer to the parameters in mhfl-algo/config/settings.py to write the settings.
